<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8"> <!--Makes sure your text displays correctly.-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!--Ensures compatibility with IE browser.-->
    <title>DevSearch</title>
    <meta name='viewport' content="width=device-width, initial-scale=1.0">  <!--Makes your website responsive on different devices.-->
    <link rel="stylesheet" type="text/css" 
    media='screen' href="{% static 'styles/main.css' %}">
</head> 
    
</head>
<body>
  
    {% include 'navbar.html' %}
    
    {% block content %}

    {% endblock content %}
    <p>FOOTER</p>
</body>
</html>
